<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Write Blog</title>
</head>

<body>
    <%- include('./partials/nav') %>
        <div class="container">
            <h1>Write your Blog</h1>
            <form action="/blog" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="coverImage" class="form-label">cover Image</label>
                    <input type="file" class="form-control" name="coverImage">
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="title" placeholder="Title here....">
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Write Blog</label>
                    <textarea class="form-control" name="content" rows="5" placeholder="Blog here......."></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>
</body>
<%- include('./partials/scripts') %>

</html>